
<ul>
    <li *ngFor="let i of this.displayedShoes" class="ShoesItem">
        <div class="ShoePicture">
            <img src="{{ i.shoeItem.photo }}">
        </div>
        <div class="ShoeDescription">
            <div class="ShoeDescriptionLeft">
                <p class="ShoeName">{{ i.shoeItem.Name }}</p>
                <p class="ShoeGender">{{ i.shoeItem.getGenderDescription() }} {{i.shoeItem.Brand}}</p>
                <p class="ShoeSize">Tamanho: {{ i.shoeSize }}</p>
            </div>
            <div class="ShoeDescriptionRight">
                <p  class="ShoePrice">{{(i.shoeItem.Price*i.count).toFixed(2)}} R$.</p>
                <p class="ShoeQunatity">
                    Quantidade: {{i.count}}
                    <span><button (click)="(i)">+</button> </span>
                    <span><button (click)="(i)">-</button> </span>
                </p>
                <p  class="RemoveButton"><button (click)="removeShoe(i)">Remover</button></p>
            </div>
        </div>
        <hr class="DividingLine">
    </li>
</ul>
