
.ShoeTextDescription{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 10%;
    border: 1px solid lightgray;
}

.BuyShoe {
    display: flex;
    align-items: flex-start;
    margin: 5%;
    min-height: 100vh;
}

.ShoeImage {
    flex-shrink: 0;
    margin-right: 100px;
    width: 400px;
    height: auto;
}

.ShoeImage img{
    margin-left: 50px;
    width: 350px;
    height: auto;
}

.ShoeName{
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-left: 50px;
}

.ShoeGender {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    padding-left: 50px;
}

.ShoePrice {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    padding-left: 50px;
}

.SelectSize{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    padding: 0;
    text-align: center;
}


body {
  font-family: "AdineuePRO", sans-serif;
  height: auto;
  width: auto;
  padding: auto;
}

.avaliacao {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: left;
}


.avaliar ul {
  text-align: right;
  gap: 4px;
  display: flex;
  margin-right: 20px;
}

.avaliar ul li{
  text-align: right;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.recomendacao {
  text-align: left;
}

.star-icon {

  list-style-type: none;
  cursor: pointer;
  color: #000000;
  margin: 0 5px;

}

.star-icon::before {
  content: "\2605";
}

.star-icon.ativo~.star-icon::before {
  content: "\2606";
}

.avaliar:hover~.star-icon::before {
  content: "\2605";
}

.star-icon:hover~.star-icon::before {
  content: "\2606";
}

.cla_txt {
  margin-top: 20px;
}

.cla_txt span {
  display: block;
}

#txtava,
#txtava2 {
  color: black;
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 5;
  height: 100px;
  width: 511px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.875em;
  display: block;
  margin-bottom: 10px;
  resize: none;
}

#txtava {
  margin-bottom: 20px;
}

