<html>
<head></head>
<body>
    <app-nav-bar></app-nav-bar>
    <img src="../assets/logo.png">
    <div class="PageContent">
    <p>
        PERGUNTAS FREQUENTES
    </p>
    <br>
    <hr>
    <p class="Question">
        pergunta?
    </p>
    <p class="Answer">
        Respostas
    </p>
    <hr>
    <p class="Question">
      pergunta?
  </p>
  <p class="Answer">
      Respostas
  </p>
    <hr>
    <p class="Question">
      pergunta?
  </p>
  <p class="Answer">
      Respostas
  </p>
    <hr>
    <p class="Question">
      pergunta?
  </p>
  <p class="Answer">
      Respostas
  </p>
    <hr>
    <p>
text_format
    </p>
    <br>

    </div>

    <app-footer-bar></app-footer-bar></body>
</html>
